<%= form_for [@competition, @entry], :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Entry</legend>

    <div class="control-group">
      <%= f.label "has_categories", "Categories", :class => 'control-label' %>
      <div class="controls">
        <% @competition.categories.each do |category| %>
          <%= f.label "has_category_#{category.code}", :class => 'checkbox' do %>
            <%= f.check_box "has_category_#{category.code}", :class => 'check_box' %>
            <%= category.name %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', @competition, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
