<h1>Competitions</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Dates</th>
      <th>Name</th>
      <th>City</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @competitions.each do |competition| %>
      <tr>
        <td><%= format_date_range competition %></td>
        <td><%= link_to competition.name, competition %></td>
        <td><%= competition.city %></td>
        <td>
          <%= link_to 'Edit', edit_competition_path(competition), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', competition_path(competition), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_competition_path, :class => 'btn btn-primary' %>
