<h1>Listing competitions</h1>

<table>
  <tr>
    <th>User</th>
    <th>Name</th>
    <th>City</th>
    <th>Address</th>
    <th>Start on</th>
    <th>End on</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @competitions.each do |competition| %>
  <tr>
    <td><%= competition.user %></td>
    <td><%= competition.name %></td>
    <td><%= competition.city %></td>
    <td><%= competition.address %></td>
    <td><%= competition.start_on %></td>
    <td><%= competition.end_on %></td>
    <td><%= link_to 'Show', competition %></td>
    <td><%= link_to 'Edit', edit_competition_path(competition) %></td>
    <td><%= link_to 'Destroy', competition, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Competition', new_competition_path %>
