<h1>Competition</h1>

<p>
  <b>Date</b><br>
  <%= format_date_range @competition %>
</p>

<p>
  <b>Name</b><br>
  <%= @competition.name %>
</p>

<p>
  <b>City</b><br>
  <%= @competition.city %>
</p>

<p>
  <b>Address</b><br>
  <%= @competition.address %>
</p>

<p>
  <% if user_signed_in? && (entry = current_user.entries.by_competition(@competition).first) %>
    <%= link_to "Edit your entry in this competition", edit_competition_entry_path(@competition, entry) %>
  <% else %>
    <%= link_to "Enter this competition", new_competition_entry_path(@competition) %>
  <% end %>
</p>

<div class="form-actions">
  <%= link_to 'Back', competitions_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_competition_path(@competition), :class => 'btn' %>
  <%= link_to 'Delete', competition_path(@competition), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
