<%= form_for @result, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Result</legend>

    <div class="control-group">
      <%= f.label :competition_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :competition_id, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :user_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :user_id, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :event, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :event, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :round, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :round, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :group, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :group, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :time1, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :time1, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :time2, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :time2, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :time3, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :time3, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :time4, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :time4, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :time5, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :time5, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :average, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :average, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :best, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :best, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :worst, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :worst, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', results_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
