<tr>
  <td><%= result.user.email %></td>
  <td class="time"><%= format_time result.time1 %></td>
  <td class="time"><%= format_time result.time2 %></td>
  <td class="time"><%= format_time result.time3 %></td>
  <td class="time"><%= format_time result.time4 %></td>
  <td class="time"><%= format_time result.time5 %></td>
  <td class="time"><%= format_time result.best %></td>
  <td class="time"><%= format_time result.worst %></td>
  <td class="time"><%= format_time result.average %></td>
  <td>
    <%= link_to 'Edit', edit_event_result_path(@event, result), :class => 'btn btn-mini' %>
  </td>
</tr>
