<h1>Event</h1>

<p>
  <b>Category</b><br>
  <%= @event.category.name %>
</p>

<p>
  <b>Results</b><br>
</p>
<ul>
  <% @event.rounds_count.times do |round| %>
    <li><%= link_to "Round ##{round + 1}", event_results_path(@event, :round => round + 1) %></li>
  <% end %>
</ul>

<div class="form-actions">
  <%= link_to 'Back', competition_events_path(@competition), :class => 'btn'  %>
  <%= link_to 'Edit', edit_competition_event_path(@competition, @event), :class => 'btn' %>
  <%= link_to 'Delete', competition_event_path(@competition, @event), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
