<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "CubeComps", root_url, :class => :brand %>
      <div class="container nav-collapse">
        <% if current_competition %>
          <ul class="nav">
            <li class="active"><%= link_to current_competition.name, current_competition %></li>
          </ul>
        <% end %>

        <% if user_signed_in? %>
          <ul class="nav pull-right">
            <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
          </ul>
          <p class="navbar-text pull-right">
            Welcome, <%= current_user.email %>
          </p>
        <% else %>
          <ul class="nav pull-right">
            <li><%= link_to "Login" , new_user_session_path %></li>
            <li class="divider-vertical"></li>
            <li><%= link_to "Register" , new_user_registration_path %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>
