<div class="well sidebar-nav">
  <h3>Sidebar</h3>
  <ul class="nav nav-list">
    <li class="nav-header">Sidebar</li>
      <li><%= link_to "Link1", "/path1"  %></li>
      <li><%= link_to "Link2", "/path2"  %></li>
      <li><%= link_to "Link3", "/path3"  %></li>
  </ul>

  <% if @competition %>
    <h3><%= @competition.name %> results</h3>
    <ul class="nav nav-list">
      <% @competition.categories.each do |c| %>
        <li class="nav-header"><%= c.name %></li>
        <% if event = @competition.events.find_by_category_code(c.code) %>
          <% event.rounds_count.times do |round| %>
            <li><%= link_to "Round ##{round + 1}", competition_event_path(@competition, event, :round => round + 1) %></li>
          <% end %>
        <% else %>
          <li><%= link_to "Start this event", new_competition_event_path(@competition) %></li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>
